<h1>I'm the adventure page!</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <i class="fas fa-broom"></i>
            <a class="btn btn-success" href="/missions">Go on an adventure</a> prompts the modal
        </div>
        <div class="col-sm">
            <div>
                <img src="sword.svg">
                Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
                from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            </div>
            <a class="btn btn-success" href="/fight-pits">Fight-Pits</a> prompts the modal
        </div>
        <div class="col-sm">
            <img>
            <a class="btn btn-success" href="/training">Training</a> prompts the modal
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/allCharacters.js"></script>