<h1>All Characters</h1> 

<ul>
    
    <li>Name:{{name}}</li>
    <li>Age:{{age}}</li>
    <li>Race:{{race}}</li>
    <li>Class:{{class}}</li>
    
</ul>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/allCharacters.js"></script>