<div class="container fadin-page">

        <div class="mission-box char-div">
                <form class="journey-select-form">
                        <h2>Mission Select</h2>
                        <div class="form-group input1">
                                <label for="char-select">Character select</label>
                                <select class="form-control" id="char-select" name="char-select">

                                        {{#each characters}}
                                        <option value='{{id}}'>{{name}}</option>
                                        {{/each}}
                                </select>
                                <button type="button" class="btn btn-warning next"> Next </button>
                        </div>


                        <div class="form-group input2">
                                <label for="journey-select">Journey select</label>
                                <select class="form-control" id="journey-select" name="journey-select">

                                        {{#each journeys}}
                                        <option value='{{id}}'>{{name}}</option>
                                        {{/each}}
                                </select>
                        </div>
                        <button type="button" class="btn btn-warning hide-mission-select">Adventure Now</button>
        </div>

        <div class="animation">

                <div class="svg-test">

                        <div id="redX">
                                <span id="xid">X</span>
                        </div>
                        <div id="startDiv">
                                <span id="start">start</span>
                        </div>
                        <div class="boxy"></div>
                        <svg id="svg-id" width="1000" height="300">
                                <path class="stroke-path"
                                        d="M 32 269 Q 167 29 285 136 Q 408 269 563 143 C 706 0 850 220 943 48 ">
                                </path>
                        </svg>
                </div>

        </div>


        <div class="return-from-journey char-div">
                <h2>Mission Complete!</h2>
                <h5 class="complete-h5 card-title"><span class="complete-char"></span> found
                        <span class="complete-item"></span>!</h5>
                <p class="card-text"><span class="journey-item-name"></span> is a <span
                                class="journey-item-type"></span> that
                        will grant
                        <span class="xpType"></span> <span class="journey-xp"></span>xp.</p>
                <p class="card-text">
                <ul>
                        <li>
                                Armor adds xp to health.
                        </li>
                        <li>
                                Weapons add xp to strength.
                        </li>
                        <li>
                                Spells add xp to magic.
                        </li>
                </ul>
                </p>
                <a href="/adventures" class="btn btn-primary">Go back to the adventures page.</a>
        </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/missions.js"></script>