<div class="container fadin-page">

        <div class="mission-box char-div">
                <form class="journey-select-form">
                        <h2>Mission Select</h2>
                        <div class="form-group input1">
                                <label for="char-select">Character select</label>
                                <select class="form-control" id="char-select" name="char-select">

                                        {{#each characters}}
                                        <option value='{{id}}'>{{name}}</option>
                                        {{/each}}
                                </select>
                                <button type="button" class="btn btn-warning next"> Next </button>
                        </div>


                        <div class="form-group input2">
                                <label for="journey-select">Journey select</label>
                                <select class="form-control" id="journey-select" name="journey-select">

                                        {{#each journeys}}
                                        <option value='{{id}}'>{{name}}</option>
                                        {{/each}}
                                </select>
                        </div>
                        <button type="button" class="btn btn-warning hide-mission-select">Adventure Now</button>
        </div>

        <div class="animation">

        </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/missions.js"></script>