<div class="container missions-page">

    <form>

        <div class="form-group">
            <label for="char-select">Character select</label>
            <select class="form-control" id="char-select" name="char-select">

                {{#each characters}}
                <option value='{{id}}'>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mission-box">
            <h2>Mission Select</h2>

            <div>
                <button type="button" class="btn btn-warning hide-mission">Adventure Now</button>
            </div>
        </div>
    </form>

    <div class="mission-animation">
        <h2>Mission Animation</h2>
        <button type="button" class="btn btn-warning show-mission">Adventure Now</button>
    </div>


</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="/js/missions.js"></script>