
<form class="character-form">
    <label for="player_name">Enter in your player name.</label>
    <input type="text" id="player_name" name="player_name">

    <label for="player_age">Enter in your age.</label>
    <input type="text" id="player_age" name="player_age">

    <label for="race">Select a race:</label>
    <select id="char_race" name="char_race">
        <option value="Human">Human</option>
        <option value="Elf">Elf</option>
        <option value="Dwarf">Dwarf</option>
    </select>

    <label for="race">Select a class:</label>
    <select id="char_class" name="char_class">
        <option value="Rogue">Rogue</option>
        <option value="Mage">Mage</option>
        <option value="Knight">Knight</option>
    </select>

    <button id="signUpBtn" type="submit">Submit</button>
</form>

<script src="../public/js/index.js" type="text/javascript"></script>
<!-- form for character creation/signup -->