.list-group-item {
  line-height: 2.5;
}

/* All */

.list-group-item {
  line-height: 2.5;
}
.col-8 .offset-2 {}

.Submit-button {} 

.list {}

/* Index.Js */

#example-text {}

#example-description {}

#signUpBtn {}

#example-list {}

.data-id {}

.button {}

#player-name {}

#player-age {}

#player-race {}

#player-class {}

.delete {}

.submit {}
 
.click {}

/* Signup.handlebars */

.home {}

.col-8 .offset-2 {}

.clearfix .mb-4 {}

.form-group {}

.form-control {}

.example-list {}

.list-group {} 

.list-group-item {}

.btn .btn-danger .float-right .delete

.this.id {}

.this.text {}

/* Character.js */

.character {}

/* Main.Handlebars */

/* 404.handlebars */

.container {}

.jumbotron .mt-4 {}

.display-4 .text-center {}

/* CreatePlayer.handlebars */ 

.char-div {
  margin-top: 70px;
}

.character-form {}

.player-name {}

.char-race {}

.char-class {}

.player-age {}

.signUpBtn {}

/* Example.handlebars */

.container {}

.row {}

.col-8 .offset-2 {}

.card .mt-4 {}

.card-body {}

.card-title {}

.example.id {}

.example.text {}

.example.description {}

/*  missions */
.missions-page { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 
