/* Animation for background*/

 
/* Character */
.character {}
.char-div {
  margin-top: 70px;
}
.character-form {}
.char-race {}
.char-class {}

/* Buttons  */
#signUpBtn {}
.signUpBtn {}
.button {}
.Submit-button {} 
.btn .btn-danger .float-right .delete {}

.card {
  margin-bottom: 20px;
  
}
/*.card .mt-4 {


}
.card-body {}
.card-title {}

/* List Items* */
.list {}
.list-group-item {
  line-height: 2.5;
}
.list-group {} 

/* Examples */
.example-text {}
#example-text {}
#example-description {}
#example-list {}
.example-list {}
.example.id {}
.example.description {}

/* Form */
.character-form {}
.form-group {}
.form-control {}

/* Player */
#player-name {}
#player-age {}
#player-race {}
#player-class {}
.player-age {}
.player-name {}


/* Adventures  */
.card {
  width: fit-content;
}
.sword {
  height: 150px;
  width: 150px;
  /* margin-top: 15px;
  margin-left: 15px; */
  margin: 0 auto;
}

/*  missions */
.fadin-page { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.input2, .hide-mission-select {
  display: none;
}

.animation {
  height: 30px;
  width: 30px;
  background-color: 
}

/* svg treasure map */
.treasure-map {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}



