
/* Actions */
.click {}
.submit {}
.delete {}

/* Utility */
.container {}
.clearfix .mb-4 {}
.col-8 .offset-2 {}
.data-id {}
.jumbotron .mt-4 {}
.display-4 .text-center {}
.this.id {}
.this.text {}
.row {}
.home {}

/* Character */
.character {}
.char-div {
  margin-top: 70px;
}
.character-form {}
.char-race {}
.char-class {}

/* Buttons */
#signUpBtn {}
.signUpBtn {}
.button {}
.Submit-button {} 
.btn .btn-danger .float-right .delete

/* Card */
.card .mt-4 {}
.card-body {}
.card-title {}

/* List Items* */
.list {}
.list-group-item {
  line-height: 2.5;
}
.list-group {} 

/* Examples */
.example-text {}
#example-text {}
#example-description {}
#example-list {}
.example-list {}
.example.id {}
.example.description {}

/* Form */
.character-form {}
.form-group {}
.form-control {}

/* Player */
#player-name {}
#player-age {}
#player-race {}
#player-class {}
.player-age {}
.player-name {}

/*  missions */
.missions-page { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 
